<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
    <meta charset="UTF-8"> {% load static %}
    <title>Main page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="{% static 'migrate/style.css' %}">
    <link rel="stylesheet" href="{% static 'migrate/indexstyle.css' %}">
</head>

<body>
    <!--THE NAVBAR-->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <span class="navbar-brand" href="#"><i class="fa fa-globe" aria-hidden="true"></i> Project name</span>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/resources">Resources</a></li>
                    <li><a href="/visaview">Visa Info</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <!--THE MAP-->
    <div id="mapid"></div>
    <!--THE FILTER-->
    <div id="filter">
        <button type="button" class="btn btn-default" data-filter-type="hotcountry">
            United States
        </button>
        <button type="button" class="btn btn-default" data-filter-type="hotcountry">
            Saudi Arabia
        </button>
        <button type="button" class="btn btn-default" data-filter-type="hotcountry">
            India
        </button>
        <button type="button" class="btn btn-default" data-filter-type="hotcountry">
            Russia
        </button>
        <button type="button" class="btn btn-default" data-filter-type="hotcountry">
            China
        </button>
        <button type="button" class="btn btn-default" data-filter-type="hotcountry">
            Canada
        </button>
        <button type="button" class="btn btn-default" data-filter-type="hotcountry">
            Mexico
        </button>
        <div class="buffer-div"></div>
        <span class="lowlabel">Low Risk</span>
        <div class="colour-boxes">
            <div class="box-div colour-box"></div>
            <div class="box-div colour-box"></div>
            <div class="box-div colour-box"></div>
            <div class="box-div colour-box"></div>
            <div class="box-div colour-box"></div>
            <div class="box-div colour-box"></div>
            <div class="box-div colour-box"></div>
            <div class="box-div colour-box"></div>
        </div>
        <span class="highlabel">High Risk</span>
        <span class="inplabel">Enter Country:</span>
        <input type="text" id="countryname">
        <button type="button" class="btn btn-default" id="countrysearch">
            Search
        </button>
    </div>
    <!--THE DEEPSEARCH-->
    <!--<div id="deepsearch">
        VISA INFORMATION WOULD GO HERE
        <div>bruh</div>
        <div>bruh</div>
        <div>bruh</div>
        <div>bruh</div>
        <div>bruh</div>
        <div>bruh</div>
        <div>bruh</div>
        <div>bruh</div>
        <div>bruh</div>
        <div>bruh</div>
        <div>bruh</div>
    </div>-->
    <!--ANY RELEVANT JS-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="{% static 'migrate/toastropts.js' %}"></script>
    <script src="{% static 'migrate/countrydata.js' %}"></script>
    <script src="{% static 'migrate/coorddata.js' %}"></script>
    <script src="{% static 'migrate/indexmapscript.js' %}"></script>
    <script src="{% static 'migrate/filterscript.js' %}"></script>
</body>

</html>