<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Resources</title> {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'migrate/style.css' %}">
</head>

<body>
    <!--THE NAVBAR-->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#"><i class="fa fa-globe" aria-hidden="true"></i> Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/resources">Resources</a></li>
                    <li><a href="/visaview">Visa info</a></li>
                    <li><a href="/howto">How to Use</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <img src="https://www.acha.org/images/ACHA/Flexslider/students.png" alt="Happy People" style="width:100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2><i class="fa fa-university" aria-hidden="true"></i> ACLU</h2>
                <p>The American Civil Liberties Union (ACLU) is a non-profit organization
                    whose stated mission is "to defend and preserve the individual rights and liberties
                    guaranteed to every person in this country by the Constitution and laws of the United States."
                    The ACLU provides legal assistance in cases when it considers civil liberties to be at risk.
                </p>
                <p><a class="btn btn-secondary" href="http://www.aclu.org" role="button">More Information &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2><i class="fa fa-id-card" aria-hidden="true"></i> Visa</h2>
                <p>A conditional authorization granted by a country to a foreigner, allowing them to enter and temporarily
                    remain within, or to leave that country. Visas typically include limits on the duration of the foreigner's
                    stay, territory within the country they may enter, the dates they may enter, the number of permitted
                    visits or an individual's right to work in the country in question.
                </p>
                <p><a class="btn btn-secondary" href="https://travel.state.gov/content/visas/en/general/americans-traveling-abroad.html" role="button">More Information &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2><i class="fa fa-heart" aria-hidden="true"></i> Asylum Information</h2>
                <p>A refugee is someone who is located outside the United States, is of special humanitarian concern to
                the US, demonstrates that they were persecuted or fear persecution due to race, religion, nationality,
                    political opinion, or membership in a particular social group, is not firmly resettled in another country,
                    and is admissible to the United States.
                </p>
                <p><a class = "btn btn-secondary" href = "https://www.uscis.gov/ilink/docView/SLB/HTML/SLB/0-0-0-1/0-0-0-29/0-0-0-101/0-0-0-195.html" role="button">Legal definition of a refugee &raquo;</a></p>
                <p><a class="btn btn-secondary" href="https://www.uscis.gov/humanitarian/refugees-asylum/refugees" role="button">More Information &raquo;</a></p>
            </div>
        </div>
        <br/>
        <br/>
        
        <div class="row">

        </div>
        <hr>
</body>

</html>