body {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
    margin-bottom: 0px !important;
    border: 0px !important;
}

#mapid {
    height: 75%;
}

#filter {
    height: 50px;
    background: green;
    color: white;
}

#deepsearch {
    height: calc(25% - 100px);
    background: blue;
    color: white;
}