body {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
    margin-bottom: 0px !important;
    border: 0px !important;
}

#mapid {
    height: 75vh;
}

#filter {
    height: 50px;
    background:#F6F4F0;
    color: white;
    line-height: 50px;
}

#filter > button {
    vertical-align: middle;
    margin-left: 10px !important;
}

#filter > span {
    margin-left: 60px;
    color: black;
}

#filter > input {
    vertical-align: middle;
    margin-left: 10px !important;
    height: 30px;
    color: black;
}

#deepsearch {
    height: calc(25vh - 100px);
}

.buffer-div {
    padding-left: 60px;
    display: inline;
}
