body {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
    margin-bottom: 0px !important;
    border: 0px !important;
}

#mapid {
    height: calc(100vh - 100px);
}

#search {
    /*height: 50px;*/
    line-height: 50px;
    background: #2c3e50 !important;
    color: #fff !important;
}

#search > button {
    vertical-align: middle;
    margin-left: 10px !important;
}

#search > span {
    margin-left: 60px;
    color: white;
}

#search > input {
    vertical-align: middle;
    margin-left: 10px !important;
    height: 30px;
    color: black;
}

/*#deepsearch {
    height: calc(25vh - 100px);
}*/

.buffer-div {
    padding-left: 60px;
    display: inline;
}

.colour-boxes {
    display: inline-block !important;
    margin: 0px;
    padding: 0px;
    height: 50px;
}

.box-div {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 20px;
}

.colour-box:nth-child(1) {
    background: #9F9;
}

.colour-box:nth-child(2) {
    background: #FFD;
}

.colour-box:nth-child(3) {
    background: #BFD;
}

.colour-box:nth-child(4) {
    background: #F99;
}